*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: 'Lato', sans-serif;
	color: #909294;
}
	

.wraper{
	min-height: 100%;
	overflow: hidden;
}

.bg_image{
	background-image: url(/homework/adaptive/images/main_bike.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 100vh;
}	

.navigation {
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.navigation li {
    margin-right: 75px;
}

.navigation li:nth-child(2):nth-child(3){
    margin-right: 63px;
}
.navigation li:last-child{
	margin-right: 0px;
}

.navigation li a {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: #524e5e;
    text-transform: uppercase;
}


.main_text{
	padding-top: 117px;
	padding-bottom: 142px;
	background-color: #f7f7f7;
}

.main_text_flex{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-left: 280px;
	padding-right: 241px;
}

.steam-icon{
	margin-bottom: 34px;
}

.title{
	color: #524e5e;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.main_text_body{
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
}

.oliva_row{
	display: flex;
}

.oliva_column{
	flex: 0 1 33.33%;
}

.oliva_column_big{
	flex: 0 1 66.667%;
	
}

.olivia_item{
	position: relative;
	
}

.item_logo:hover {
background-color: aqua;
}

.item_logo{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.item_image{
	height: 100%;
}

.item_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.olivia_content{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 68px 95px 67px;
	
}

.main_text_body_olivia{
	color: #848789;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 30px;
	text-align: justify;
}

.fish-icon{
	margin-bottom: 31px;
}

.title_o{
	color: #524e5e;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.olivia_column_image{
	background-image: url(/homework/adaptive/images/bike2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 0 37.5% 0;
}

.green_bike_row{
	display:flex;
	
}

.green_bike_column{
	flex: 0 1 33.333%;
}

.green_bike_column_b{
	flex: 0 1 66.66%;
}

.green_bike_content{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 61px 69px 104px 68px;
}

.pedal_icon{
	margin-bottom: 29px;
}

.green_bike_text{
	color: #848789;
	font-size: 16px;
	font-weight: 400;
	line-height: 29.99px;
	text-align: justify;
}

.green_big_wrapper{
	position: relative;
}

.green_bike_logo{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.green_big_wrapper{
	height: 100%;
}

.green_big_wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.green_bike_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.green_bike_column_red{
	flex: 0 1 33.333%
}

.description {
	padding: 124px 263px 68px 263px;
	background-color: #f7f7f7;
}
.description_row {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.description_icon {
	margin-bottom: 37px;
}

.description_title{
	margin-bottom: 27px;
}

.description_title h2 {	
font-weight: 700;
font-style: normal;
letter-spacing: 1.8px;
line-height: normal;
color: black;
}

.description_title span {	
	font-weight: 300;
	font-style: normal;
	letter-spacing: 1.8px;
	line-height: normal;
}
.description_text {
	font-size: 24px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 34px;
	text-align: center;
	margin-bottom: 104px;
	
}
.description_dots li {
	display: inline;
	
}

.photos_block {
}
.photos_block_row {
	display: flex;
	height: 100%;
}

.photos_block_column {
	flex: 0 1 33.333%;
}

.photos_wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.photos_wrapper_long{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.photos_wrapper_long img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.photos_wrapper_long{
	width: 100%;
}

.photos_block_column img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.two_photos{
	display: flex;
}

.two_photos div{
	width: 100%;
}


.btn_block{
	display: flex;
	justify-content: center;
	min-height: 200px;
	background-color: #282f35;

	padding-top: 96px;
}

.btn a{
	font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
/* Text style for "DISCOVER T" */
font-style: normal;
letter-spacing: 2.8px;
line-height: normal;
	
	color: white;
	padding: 21px 59px 19px 59px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn a:hover{
	color: black;
	background-color: white;
}


.form_block_row{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 109px;
	padding-bottom: 111px;
}

.form_block_logo{
	margin-bottom: 39px;
}

.form_block_text{
	font-size: 24px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 34px;

	margin-bottom: 35px;
}

input{
	padding: 28px 228px 24px 28px;
	border: 1px solid #d3d7d9;
	margin-right: 8px;
	font-size: 20px;
	line-height: 24px;
}

input::placeholder{
	font-size: 20px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 24px;
	color:#d9d9d9;
}



button{
	padding: 27px 45px;
	background-color: #64c29e;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

button:hover{
	color:#64c29e;
	background-color:#282f35;
}

/* FOOTER */

.footer {
	background-color: #f7f7f7;
	padding: 100px 0px;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.footer_row {
	display: flex;
	justify-content:space-between;
	width: 100%;
}

@media (max-width:600px) {
	.footer_row {
	flex-direction: column;
	background-color: red;
	text-align: center;
	}
}



.footer_columns {
flex: 0 1 33.33%
}

.culumn_adress p {
	color: #848789;
	font-family: Lato;
	font-size: 14px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 17.87px;
	/* text-align: left; */
}
.culumn_adress p:first-child {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}

.culumn_social{
	display: flex;
	justify-content: center;
}

.culumn_autor{
	display: flex;
	justify-content: end;
	align-items: center;
}

@media (max-width: 600px)
{
	.culumn_autor{justify-content: center;}
}

.culumn_social img{
	margin-right: 15px;
}

.culumn_social img:last-child{
	margin-right: 0px;
}

.culumn_autor p{
display: inline;
color: #848789;
font-family: Lato;
font-size: 14px;
font-style: italic;
letter-spacing: normal;
line-height: 17.87px;

margin-right: 9px;
}



