*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



body {
font-family: Arial;
}


.wraper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.content {
    flex: 1 1 auto;
   
}
.hi {
    background-color: #445162;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    flex: 0 1 auto;
}
.hi__row {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
}
.hi_row_body {
}
.body_title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.body_text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
}

.body_text li {
    background: url(/img/icon.png) 0 1px no-repeat;
    padding-left: 35px;
}

.body_text li:last-child {
    margin-bottom: 0px;
}

.image {
}

.footer {
    background-color: black;
}
.container {
    
}
.footer_row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}
.footer_text {
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    
}

.what {
}
.container {
}
.what_row {
    display: flex;
    padding: 50px;
}
.what_image {
    flex: 0 0 430px;
}

what_image img {
    max-width: 100%;
}

.what_body {
    padding-left: 38px;
    flex: 1 1 auto;
}
.what_body_title {
}
.what_body_title.title{
    margin-bottom: 36px;
}
.title {
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    color: #445161;
}
.what_body_text {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}
.what_body_text p{
    margin-bottom: 40px;
}


.column {
    background-color: #f5f5f5;
    padding-left: 50px;
}
.conteiner {
}
.column_title {
    text-align: center;
    padding-top: 48px;
    margin-bottom: 30px;
}


.column_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}
.column_columns {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0px 8px;
}




.column_item {
}
.item {
    
}
.item_row {
    display: flex;
}
.item_image {
    flex: 0 0 200px;
}
.item_body {
    padding-left: 15px;
}
.item_body_title {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}
.item_body_text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.vertical {
    padding: 50px;
}
.container {
}
.vertical_title {
    text-align: center;
    margin-bottom: 30px;
}

.vertical_columns {
    max-width: 990px;
    margin: 0 auto;
}
.vertical_row {
    display: flex;
    margin: 0px -22.5px;
 
}
.vertical_column {
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
    display:flex;
}

.vertical_item {
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  
}
.vertical_subtitle {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 0px;
    text-align: center;
    
}
.vertical_lable {
    padding: 18px 0px;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    background-color: white;
    text-align: center;
    
}
.vertical_text {
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    flex: 1 1 auto;
}

.vertical_text p{
    margin-bottom: 40px;
}
.vertical_btm {
    display: block;
    margin: 0px 20px;
    color: #445161;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    background-color: #ffffff;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;

}